@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
body {
  font-family: Roboto, sans-serif;
  height: 100dvh;
  margin: 0;
  display: flex;
  flex-direction: column;
}

/*
The site layout -header/footer aside- is divided in "4 quarters".
first_q, second_q, third_q and forth_q respectively.
 */

/* START Header, footer, lists and links */
.header {
  height: 4%;
  display: flex;
  background-color: #1f2937;
  width: 100%;
  font-size: 24px;
  color: #f9faf8;
  justify-content: center;
  align-items: center;
  gap: 70px;
}

.logo {
  display: flex;
  width: 25%;
}

.links {
  display: flex;
  width: 25%;
}

ul {
  display: flex;
  padding-left: 30px;
  list-style-type: none;
  font-size: 12px; /*-------------*/
  color: #e5e7eb;
}

li {
  /* width: 125px; */
  gap: 20px;
}

a,
a:visited {
  text-decoration: none;
  color: white;
  padding: 10px;
}

.footer {
  background-color: #1f2937;
  height: 4%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #e5e7eb;
  font-size: 14px;
}

/* End of Header, footer, lists and links */

/* START First quarter */

.first_q {
  background-color: #1f2937;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 22%;
  gap: 40px;
  overflow: hidden;
}

/* First quarter is divided in two quarters
first_q_left and first_q_right */

.first_q_left {
  display: flex;
  padding: 0px;
  flex-direction: column;
  width: 26%;
  /* overflow: hidden; */
}

.first_q_right {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 27%;
  overflow: hidden;
}

/* First quarters elements */
/* Created 3 containers. Two for the text 
(text_a_1q, text_b_1q) and one for the image */

.text_a_1q {
  background-color: #1f2937;
  font-size: 36px; /*Directions where to have 48px but 36px is closer to the desired outcome*/
  font-weight: bolder;
  color: #f9faf8;
}

.text_b_1q,
.img_place {
  font-size: 14px; /*Directions where to have 18px but 14px is closer to the desired outcome*/
  color: #e5e7eb;
}

.img_place {
  display: flex;
  background-color: #57585a;
  padding: 20px;
  width: 300px;
  height: 100px;
  justify-content: center;
  align-items: center;
}

/* END of first quarter */

/* START Second quarter */

.second_q {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 32%;
  width: 100%;
}

/* Second quarter is divided in three containers
One for the title (text_a_2q), one for the tiles(tiles)
and the last for descriprion under the tiles (texttiles) */

.text_a_2q {
  display: flex;
  font-size: 36px;
  font-weight: bolder;
  color: #1f2937;
  padding: 20px;
}

.tiles,
.texttiles {
  display: flex;
  gap: 40px;
}

.tile,
.texttile {
  display: flex;
}

.texttile {
  font-size: 12px;
  text-align: center;
  padding: 10px 12px 0px 12px; /* Border of tiles compensation padding+2*/
  width: 110px;
}

.tile {
  border-radius: 18px;
  padding: 20px;
  border: 2px solid #3882f6;
  height: 85px;
  width: 90px;
}

/* END of second quarter */

/* START third quarter */

/* For the third quarter two containers where used
one for the quote (text_a_3q) and one for the name
of the author of the quote (text_b_3q)*/

.third_q {
  display: flex;
  flex-direction: column;
  height: 20%;
  background-color: #e5e7eb;
  overflow: hidden;
}

.text_a_3q {
  font-size: 22px; /*Directions where to have 36px but 18px is closer to the desired outcome*/
  display: flex;
  font-style: italic;
  justify-content: center;
  padding: 40px 300px 10px;
}
.text_b_3q {
  display: flex;
  font-weight: bolder;
  font-size: 18px;
  justify-content: right;
  padding-right: 300px;
}

/*---------------------------------------*/

.forth_q {
  display: flex;
  height: 18%;
  color: #1f2937;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.forth_q_cont {
  display: flex;
  background-color: #3882f6;
  justify-content: space-around;
  align-items: center;
  width: 60%;
  height: 40%;
}

.forth_q_text {
  display: flex;
  flex-direction: column;
}

.text_a_4q {
  display: flex;
  color: #e5e7eb;
}

.text_b_4q {
  display: flex;
  color: #e5e7eb;
}

/*---------------------------------------*/

button {
  display: flex;
  background-color: #3882f6;
  color: #e5e7eb;
  padding: 5px 25px;
  font-size: 14px;
  border-radius: 5px;
}

.sign_up_dwn button {
  border: 1px solid #e5e7eb;
}

.sign_up_top button {
  margin-top: 5px;
  border: 1px;
}

.sign_up_top,
.sign_up_dwn {
  display: flex;
}
